<a href="https://colab.research.google.com/github/ArthurTravassos06/Desafio-Solvimm/blob/main/Desafio_Solvimm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importações**

In [1]:
import pandas as pd 
#Importando a biblioteca do pandas

from google.colab import drive
#Importa a biblioteca do google drive

# **Montando Google Drive**

In [2]:
drive.mount('/content/drive')
#Monta imagem do google drive no Notebook

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Leitura do Dataframe**

In [13]:
df_movies = pd.read_csv('/content/drive/MyDrive/movies.csv', sep=';', names = ('Movie_Id','Movie_Name')) 
#Importando a base de dados referente aos filmes

df_ratings = pd.read_csv('/content/drive/MyDrive/customers_rating.csv', sep=';' ) 
#Importando a base de dados referente as avaliações

movies = df_movies.set_index('Movie_Id') 
#Criando um dataframe com index Setado no Movie_Id para realizar o left join

ratings = df_ratings.set_index('Movie_Id') 
#Criando um dataframe com index Setado no Movie_Id para realizar o left join

movie_ratings = ratings.join(movies) 
#Realizando o left join da base de avaliações com a base de filmes 

movie_ratings

          Cust_Id  Rating        Date               Movie_Name
Movie_Id
1         1488844     3.0  2005-09-06  (Dinosaur Planet, 2003)
1          822109     5.0  2005-05-13  (Dinosaur Planet, 2003)
1          885013     4.0  2005-10-19  (Dinosaur Planet, 2003)
1           30878     4.0  2005-12-26  (Dinosaur Planet, 2003)
1          823519     3.0  2004-05-03  (Dinosaur Planet, 2003)
...           ...     ...         ...                      ...
4499      2591364     2.0  2005-02-16       (In My Skin, 2002)
4499      1791000     2.0  2005-02-10       (In My Skin, 2002)
4499       512536     5.0  2005-07-27       (In My Skin, 2002)
4499       988963     3.0  2005-12-20       (In My Skin, 2002)
4499      1704416     3.0  2004-06-02       (In My Skin, 2002)

[24053764 rows x 4 columns]

## **Quantos filmes estão disponíveis no dataset?**

In [ ]:
df_movies.drop_duplicates("Movie_Name", inplace=True) 
#Excluindo da base de dados filmes com nome repetido na lista

movies_numbers = df_movies['Movie_Name'].count() 
#Realizando a contagem do número de filmes na base de dados

print("A quantidade de filmes é %i" % movies_numbers)

A quantidade de filmes é 4498

# **Qual é o nome dos 5 filmes com melhor média de avaliação?**

In [ ]:
movie_ratings.groupby("Movie_Name")["Rating"].mean().sort_values(ascending=False).head(5) 
#Realizando um agrupamento entre o nome dos filmes e a média das avalizações, na ordem decrescente e limitando aos 5 primeiros.

Movie_Name
(Lost: Season 1, 2004)                                                                 4.670989
(Ghost in the Shell: Stand Alone Complex: 2nd Gig, 2005)                               4.586364
(The Simpsons: Season 6, 1994)                                                         4.581296
(Inu-Yasha, 2000)                                                                      4.554434
(Lord of the Rings: The Return of the King: Extended Edition: Bonus Material, 2003)    4.552000
Name: Rating, dtype: float64

# **Quais os 5 anos com menos lançamentos de filmes?**

In [ ]:
years = [] 
#Criando uma lista para armazenar os dados da iteração

for movie in df_movies["Movie_Name"]: 
  #Laço for para fazer a iteração de todos os nomes de filmes
  
  movie_split = movie.split() 
  #Quebrando a String dos filmes em partes
  
  movie_last = movie_split[-1] 
  #Selecionando a ultima parte do nome do filme divido em partes
  
  year = movie_last[:4] 
  #Removendo p ")" da parte anterior para ficar apenas os números do ano
  
  years.append(year) 
  # Adicionando o ano a Lista criada no inicio

df_movies['Years']= years 
#Adicionando uma coluna "Years" a base de dados dos filmes preenchindo com a lista totalmente iterada

df_movies.groupby("Years")["Movie_Name"].count().sort_values(ascending=True).head(5)
#Realizando um agrupamento entre os anos de lançamento do filme e o nome dos filmes, na ordem crescente e limitando a 5

Years
1915    1
1917    1
1922    1
1926    1
1916    2
Name: Movie_Name, dtype: int64

# **Quantos filmes que possuem avaliação maior ou igual a 4.7, considerando apenas os filmes avaliados na última data de avaliação do dataset?**

In [ ]:
movie_ratings['Date'] = pd.to_datetime(movie_ratings['Date']) 
#Convertendo a coluna "Date" de objetct para datetime

movie_ratings["Date"].max() 
#Aplicando a função .max() para saber qual é data mais recente de avaliação

Timestamp('2005-12-31 00:00:00')

In [ ]:
last_date = movie_ratings.loc[movie_ratings['Date'] == "2005-12-31"] 
#Criando um dataframe para armazenar as avaliações realizada na ultima data de avaliação

last_date_ratings = last_date.groupby("Movie_Name")["Movie_Name","Rating"].mean() 
#Criando um dataframe para Armazenar o Nome dos filmes e a média das avaliações

last_date_ratings_over = last_date_ratings.loc[last_date_ratings['Rating'] >= 4.7] 
#Criando um dataframe para armazenar apenas os filmes com média de avaliação igual ou acima de 4.7

rating_movie_numbers = last_date_ratings_over.count() 
#Realizando a conta de filmes com média de avaliações igual ou acim de 4.7

print("A quantidade de filmes com avaliação mais recente e com média de avaliação igual ou superior a 4.7 é %i \n" % rating_movie_numbers)

A quantidade de filmes com avaliação mais recente e com média de avaliação igual ou superior a 4.7 é 195

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

# **Dos filmes encontrados na questão anterior, quais são os 10 filmes com as piores notas e quais as notas?**

In [ ]:
last_date_ratings_over.sort_values(ascending = True, by = "Rating").head(10) 
#Realizando a listagem dos filmes com as piores notas do caso anterior. na ordem crescente e limitando a 10

                                           Rating
Movie_Name
(Spirited Away, 2002)                    4.714286
(SpongeBob SquarePants: Season 3, 2002)  4.750000
(The Twilight Zone: Vol. 41, 1960)       4.750000
(Absolutely Fabulous: Series 2, 1994)    4.750000
(Gilmore Girls: Season 3, 2002)          4.750000
(The Twilight Zone: Vol. 15, 1963)       4.750000
(Pete's Dragon, 1977)                    4.750000
(An Evening With Kevin Smith, 2002)      4.750000
(Curb Your Enthusiasm: Season 3, 2002)   4.800000
(In the Mood for Love, 2001)             4.800000

# **Quais os id's dos 5 customer que mais avaliaram filmes e quantas avaliações cada um fez?**

In [ ]:
movie_ratings.groupby("Cust_Id")["Rating"].count().sort_values(ascending = False).head(5)
#Realizando um agrupamento entre os customers e a quantidade de avaliações contadas, na ordem crescente e limitando a 5

Cust_Id
305344     4467
387418     4422
2439493    4195
1664010    4019
2118461    3769
Name: Rating, dtype: int64